main {

	width: 800px;
	height: 500px;
	font-size: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top:90px;

}


.upper {

	width: 50%;
	height: 200px;
	display:inline-block;

}

.lower {

	width: 33.33%;
	height: 300px;
	display: inline-block;
}

.green {

	background-color: green;
}

.blue {

background-color: blue;

}

.grey {
	background-color: grey;

}

.black {

	background-color: black;
}

.orange {

	background-color: orange;
}

.border {
	border: 1px solid black;

}